/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  padding:0;
  margin:0; 
}

@font-face {
	font-family: "lettertype";
	src: url("../font/Jost/Jost-VariableFont_wght.ttf");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme:light dark;

	--color-text:light-dark(black, white);
	--color-background:light-dark(white,black);
	--placeholder-color: light-dark( #aaa,white);
	--price-color: light-dark(#aaa, #aaa);
	--lv-font: "lettertype";

	--shadow-color-light: rgba(0, 0, 0, 0.2);
  	--shadow-color-medium: rgba(0, 0, 0, 0.3);
  	--shadow-color-dark: rgba(0, 0, 0, 0.35);
}


/****************/
/* JOUW STYLING */
/****************/



/*********** BEGINT HIER: Global Styling ***********/
li { 
	list-style-type: none;
}

/* Styling voor alle titels op de website */
h1, h2, h3 {
	font-weight: 400;
	font-family: var(--lv-font);
	text-align: center;
}

h1 { 
	font-weight: 500;
}

h2 { 
	font-size: 1.4em;
	text-align: center;
}

h4 { 
	font-family: var(--lv-font);
	font-weight: normal;
}

/* Styling voor alle linkjes op de website */
a {
	font-family: var(--lv-font);
}

p {
	font-weight: 400;
	font-family: var(--lv-font);
}

.visually-hidden {
/* A11y Project - How to hide content */
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}
/*********** STOPT HIER: Global Styling ***********/








/*********** BEGINT HIER: Styling voor alle de menubalk en hamburger menu ***********/
header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	position: fixed;
	z-index:6;
	width: 100%;
	left: 0;
	background-color: var(--color-background);
	height: 4em;
}

header > h1 {
	flex-grow:1;
	display:flex;
  	justify-content:center;
	text-transform: uppercase;
	font-size: 1.5em;
}

header > button { 
	order: -1;
	border:none;
	background-color:var(--color-background);
	padding-top: 0.2em; 
	padding-right: 0.2em; 
	padding-bottom: 0.2em; 
	padding-left: 0.2em; 
}

nav {
	font-family: "lettertype";
	background-color: var(--color-background);
	
	position:fixed;
	left:0;
	right:0;
	top: 4em;
	bottom:0;
	
	translate:0% -100%;
	transition:1s;
	z-index: 4;
  }

  nav ul {
	display:flex;
	flex-direction: column;
	gap: 1em;
	padding-left: 2em;
  }

  nav:nth-of-type(1) li {
	font-size: x-large;
  }

  nav.toonMenu {
   translate:0%; 
  }

  nav:nth-of-type(1) button { 
	background-color: (var(--color-background));
	border: none;
}

  form { 
	padding:1em;
	font-family: "lettertype";
	background-color: var(--color-background);

	position:fixed;
	left:0;
	right:0;
	top: 0;
	
	translate:0% -100%;
	transition:1s;
	z-index: 5;

	/* Bron: ChatGPT */
	display: flex;
    padding: 5px 10px;
  }

  /* Bron: ChatGPT */
input[type="search"] {
	border: none;
	outline: none;
	flex-grow: 1; /* Zodat de input de resterende ruimte inneemt */
	font-size: 16px;
	min-width: 0;
	border-radius: 50px;
	border: 1px solid #000;
	padding: 0.5em .5em .5em 2em;

	/* Hier zorgt ik ervoor dat het vergrootglas in de achtergrond zit waardoor ik de input kan 
	stylen en niet de achtergrond */
	background-image: url(../images/header/search.svg);
	background-repeat: no-repeat;
	background-position: .3em center;
	}

/* Bron ChatGPT */
input::placeholder {
	color: var(--placeholder-color); /* Placeholder-kleur */
	font-style: italic; /* Placeholder-tekst in cursief */
	font-size: 1.2em;
	}

form:nth-of-type(1) button { 
	background-color: var(--color-background);
	border: none;
  }

  form.toonZoek {
	translate:0%; 
	top: 4em; 
   }

    /* Bron: ChatGPT */
   @media (max-width: 600px) { 

    input[type="search"] {
        font-size: 14px; /* Kleinere tekstgrootte op kleinere schermen */
    }
}
/*********** STOPT HIER: Styling voor alle de menubalk en hamburger menu ***********/




/*********** BEGINT HIER: Styling van de footer ***********/
footer { 
	padding-top: 3em;
	border-top: 1px solid var(--price-color);
	padding-left: 2em;
	padding-right: 2em;
}

/* footer > section:nth-of-type(1) > section {
	padding-left: 1em;
	padding-right: 1em;
} */

footer section:nth-of-type(1) h2 { 
	text-transform: uppercase;
	font-weight: 500;
}

footer > section:nth-of-type(1) > section:nth-of-type(1) { 
	padding-top: 2em; /* Zodat er wat ruimte ontstaat tussen de breadcrumb en fold-out */
}

/* Hier flex ik de laatste ul: Sitemap - Legal & Privacy - Cookies*/
footer section:nth-of-type(1) > ul:nth-of-type(1){
	display: flex;
	justify-content: space-between;
}

/* footer section:nth-of-type(3) ul:nth-of-type(1) { 
	padding-top: 2em;
	padding-bottom: 2em;
} */

footer h4 { 
	text-align: left;
	padding-left: 1em;
	padding-bottom: 1em;
}




/* Styling van functionele delen in de footer */
/* Bron: deel van Mehmet */
footer summary {
	display: flex;
	justify-content: space-between;

    font-weight: bold;
    cursor: pointer;
    padding: 0.5em 0;
    border-top: 1px solid var(--price-color);
    list-style: none; /* Dit zorg ervoor dat het pijltje verwijderd wordt */
    outline: none;
}

/*********** STOPT HIER: Styling van de footer ***********/








/* Hier flex ik de titels met het plusje */
/* footer section:nth-of-type(1) ul:nth-of-type(2) li{
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-bottom: solid 0.5px var(--price-color);
	border-top: solid 0.5px var(--price-color);
} */





