/*********** BEGINT HIER: Styling voor de "Exclusive Prelaunch: Neverfull Inside Out"-section ***********/
main > section:nth-of-type(1) {
	top: 4em;
	padding-bottom: 4em;
	width: 100%;
	display: grid;
   }


main img { 
	width: 100%;
}

/* Hier probeer ik in de eerste section de h2 in het midden en boven de foto te zetten */
   main > section:nth-of-type(1) > h2 { 
	position: absolute;
	top:20.3em;
	justify-self: center;
   }

/* Hiermee stijl ik het linkje (a) in de eerste section */
/* Ik probeer het in het midden te zetten en boven de image */
   main > section:nth-of-type(1) > a {
	position: absolute;
	top:31em;
	justify-self: center;
   }

   /* Dit is de styling voor de header image */
   /* Ik zorg ervoor dat de foto "inzoomt" binnen een bepaald frame */
   main > section:nth-of-type(1) img {
	padding-top: 4em;

	height: 35em;
	width: 100%;
	object-fit:cover;

	display: block;
	display:relative;

}
/*********** STOPT HIER: Styling voor de "Exclusive Prelaunch: Neverfull Inside Out"-section***********/




/*********** BEGINT HIER: Dit is de styling voor "Maison's Creations"-section ***********/
/* Met padding geef ik het witruimte boven en onder */
	main > section:nth-of-type(2) { 
		padding-left: 2em;
		padding-right: 2em;
	}

	main > section:nth-of-type(2) ul, section:nth-of-type(3) ul{
	gap: 1.3em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding-left: 0;
	}

	main > section:nth-of-type(2) li{ 
		display: flex;
		flex-direction:column-reverse;
		gap: 0.7em;
	}

	main > section:nth-of-type(2) li a{ 
		display: flex;
		gap: 0.7em;
		flex-direction:column-reverse;
	}

	main > section:nth-of-type(2) li:hover{ 
		background-color: var(--color-text);
	} 

	main > section:nth-of-type(2) h2 { 
		padding-top: 2em;
		padding-bottom: 1em;
}

main > section:nth-of-type(2) h3 { 
	font-size: 1em;

}

/* Dit is voor de eerste grid */
@media (min-width: 600px) {
	main > section:nth-of-type(2) ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
  }

/* Dit is voor de tweede grid */
  @media (min-width: 600px) {
	main > section:nth-of-type(3) ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
  }

/*********** STOPT HIER: Dit is de styling voor "Maison's Creations"-section ***********/



/*********** BEGINT HIER: Dit is de styling voor "LV Fall"-section ***********/
/* section:nth-of-type(3) {
	padding-top: 3em;
} */

main > section:nth-of-type(3) > h4 { 
	padding-top: 2em;
	font-size: 0.7em;
}

section:nth-of-type(3) h2,h4 { 
	text-align: center;
} 

section:nth-of-type(3) > img:nth-of-type(1) {
	padding-top: 1em;
	padding-bottom: 3em;

	height: 35em;
	width: 100%;
	object-fit:cover;

	display: block;
	order: -100;
}

main > section:nth-of-type(3) ul {
	gap: 1.3em;
	padding-left: 2em;
	padding-right: 2em;
}
section:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
	/* flex-direction: column-reverse; */
}

main > section:nth-of-type(3) h3 { 
	font-size: 1em;
	text-align: left;
	order: 500;
}

main > section:nth-of-type(3) p {
	text-align: left;
	order: 600;
	color: var(--price-color);
}


main > section:nth-of-type(3) {
	padding-top: 1em;
}

/* Omdat text-align niet werkte heb ik dit gedaan. */
section:nth-of-type(3) a {
	display: flex;
  	justify-content: center;
  	align-self: center;
}
/*********** STOPT HIER: Dit is de styling voor "LV Fall"-section ***********/



/*********** BEGINT HIER: Dit is de styling voor "LV Services"-section ***********/
main > section:nth-of-type(4) { 
	padding-top:4em;
	padding-bottom:4em;
}

main > section:nth-of-type(4) p { 
	text-align: center;
}

main > section:nth-of-type(4) ul { 
	display: flex;
	overflow: scroll;
	gap: 1em;
	scroll-snap-type: x mandatory;
}

/* @media (min-width: 600px) {
	main > section:nth-of-type(4) ul {
		display: grid;
  		gap: 1em;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		overflow: hidden;
	} 

	main > section:nth-of-type(4) ul img { 
		max-width: 800px;
	}
  } */

main > section:nth-of-type(4) li {
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;

	display:grid;
}


main > section:nth-of-type(4) li > img { 
	width: 80vw;
    height: auto;
    margin-top: 5vh;
	order: -100;
}


main > section:nth-of-type(4) h3 { 
	order: 500;
}

main > section:nth-of-type(4) a { 
	display:grid;
	justify-self: center;
	order:600;
}
/*********** STOPT HIER: Dit is de styling voor "LV Services"-section ***********/