/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}
 body { 
  background-color: blueviolet;
 }


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
  font-family: "Vogue";
  src:url("../fonts/Vogue.ttf") format("truetype");
}

:root {
  --color-headings:black
}

 /* ... */

/********************/
/* ALGEMENE STYLING */
/********************/

header { 
background-color: white;
text-align: center;
margin-top: 1em;
margin-left: 33%;
margin-right: 33%;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

h1 {
  color:var(--color-headings);
  font-family: 'Vogue';
  
}

h2 {
  color:var(--color-headings);
  font-family: 'Vogue';
  
}

/* styling van het boek */
main {
  display: flex;
  justify-content: center;
  
}

section:first-of-type { 
  background-image: url('/images/magezine.png');
  display: flex;
  width: 60vw;
  height: 50vw;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

/* section:first-of-type img { 
} */

/* ... */


